@value site as bp-site from '../../styles/breakpoints.scss';

.one div,
.two div {
  width: 100%;
}

@media bp-site {
  .two div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: self-start;
  }
  .two h3,
  .two hr,
  .two p {
    width: 100%;
    display: block;
  }

  .two div > div {
    width: 100%;
    max-width: 450px;
  }
}
