@value desktop as bp-desktop from '../../styles/breakpoints.css';

.container p:last-of-type {
  margin-bottom: 0;
  text-align: center;
}

@media bp-desktop {
  .container p {
    font-size: 1.3em;
  }
}
