@value gtransition from '../../styles/animation.css';

.container {
  text-align: center;
}

.container ul {
  width: 100%;
  list-style-type: none;
  padding-top: 30px;
}

.container ul li {
  display: inline-block;
  padding-right: 38px;
  text-align: left;
}

.container ul li img {
  transition: gtransition;
  opacity: 0.9;
  margin-bottom: 30px;
}

.container ul li a:hover img {
  opacity: 1;
}
