@value gtransition from '../../styles/animation.css';

.container {
  width: 100%;
  margin: 0 auto;
}

.container p a,
.container table a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: gtransition;
}

.container {
  composes: gutterPadding from "../../styles/padding.css";
}

/**
 * Theme
 * Options
 * - primary
 * - wheat
 * - blue
 * - dark
 * - black
 **/

/** Primary **/

.primary {
  background-color: var(--primary-theme-background);
}

.primary h3 {
  color: var(--primary-theme-title-color);
}

.primary p {
  color: var(--primary-theme-color);
}

.primary td {
  color: var(--primary-theme-table-color);
  border-color: var(--primary-theme-border-color);
}

.primary a {
  color: var(--primary-theme-link-color);
}

.primary a:hover {
  color: var(--primary-theme-link-hover-color);
}

/** Wheat **/

.wheat {
  background-color: var(--wheat-theme-background);
}

.wheat h3 {
  color: var(--wheat-theme-title-color);
}

.wheat p {
  color: var(--wheat-theme-color);
}

.wheat td {
  color: var(--wheat-theme-table-color);
  border-color: var(--wheat-theme-border-color);
}

.wheat a {
  color: var(--wheat-theme-link-color);
}

.wheat a:hover {
  color: var(--wheat-theme-link-hover-color);
}

/** Blue **/

.blue {
  background-color: var(--blue-theme-background);
}

.blue h3 {
  color: var(--blue-theme-title-color);
}

.blue p {
  color: var(--blue-theme-color);
}

.blue td {
  color: var(--blue-theme-table-color);
  border-color: var(--blue-theme-border-color);
}

.blue a {
  color: var(--blue-theme-link-color);
}

.blue a:hover {
  color: var(--blue-theme-link-hover-color);
}

/** Dark **/

.dark {
  background-color: var(--dark-theme-background);
}

.dark h3 {
  color: var(--dark-theme-title-color);
}

.dark p {
  color: var(--dark-theme-color);
}

.dark td {
  color: var(--dark-theme-table-color);
  border-color: var(--dark-theme-border-color);
}

.dark a {
  color: var(--dark-theme-link-color);
}

.dark a:hover {
  color: var(--dark-theme-link-hover-color);
}

/** Black **/

.black {
  background-color: var(--black-theme-background);
}

.black h3 {
  color: var(--black-theme-title-color);
}

.black p {
  color: var(--black-theme-color);
}

.black td {
  color: var(--black-theme-table-color);
  border-color: var(--black-theme-border-color);
}

.black a {
  color: var(--black-theme-link-color);
}

.black a:hover {
  color: var(--black-theme-link-hover-color);
}
