@value columnHalfGutter from '../Columns/styles.module.scss';

.xsmall {
  margin: 0 auto;
  max-width: 31.25em;
  padding-left: columnHalfGutter;
  padding-right: columnHalfGutter;
}

.small {
  margin: 0 auto;
  max-width: 42.5em;
  padding-left: columnHalfGutter;
  padding-right: columnHalfGutter;
}

.medium {
  margin: 0 auto;
  max-width: 62em;
  padding-left: columnHalfGutter;
  padding-right: columnHalfGutter;
}

.large {
  margin: 0 auto;
  max-width: 72em;
  padding-left: columnHalfGutter;
  padding-right: columnHalfGutter;
}

.wide {
  margin: 0 auto;
  max-width: 100%;
  padding-left: columnHalfGutter;
  padding-right: columnHalfGutter;
}
