@value site as bp-site from '../../styles/breakpoints.scss';
@value columnHalfGutter from '../Columns/styles.module.scss';

.container {
  margin: 0 auto;
  padding-left: columnHalfGutter;
  padding-right: columnHalfGutter;
}

.xsmall {
  max-width: 31.25em;
}

.small {
  max-width: 42.5em;
}

.medium {
  max-width: 31.25em;
  @media bp-site {
    max-width: 62em;
  }
}

.large {
  max-width: 31.25em;
  @media bp-site {
    max-width: 72em;
  }
}

.wide {
  max-width: 100%;
}
