@value site as bp-site from '../../styles/breakpoints.css';

.container {
  margin: 0 auto;
  max-width: 32.5em;
}

.large {
  margin: 0 auto;
  max-width: 62em;
  @media bp-site {
    .large > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @supports (display: grid) {
        display: grid;
        grid-template: repeat(1, 1fr) / repeat(2, 1fr);
        gap: 20px 80px;
      }
    }
  }
}

.wide {
  margin: 0 auto;
  max-width: 100%;
}
