@value site as bp-site from '../../styles/breakpoints.css';
@value extrawide as bp-extrawide from '../../styles/breakpoints.css';

.hero {
  width: 100%;
  padding-top: 30px;
}

@media bp-site {
  .hero {
    padding-top: 0;
    display: flex;
    height: calc(100vh - 100px);
    min-height: 500px;
    flex-wrap: wrap;
  }
}
