@value site as bp-site from '../../styles/breakpoints.scss';
@value extrawide as bp-extrawide from '../../styles/breakpoints.scss';

.homepage {
  width: 100%;
  padding-top: 30px;
  @media bp-site {
    padding-top: 0;
    display: flex;
    min-height: 500px;
    flex-wrap: wrap;
  }
}

.other {
  width: 100%;
  padding-top: 30px;
  @media bp-site {
    padding-top: 0;
  }
}

.illustration-background {
  @media bp-site {
    background: linear-gradient(
      90deg,
      var(--primary-theme-background) 50%,
      var(--wheat-theme-background) 50%
    );
  }
}

.container-illustration-wrap {
  margin: 0 auto;
  @media bp-site {
    display: flex;
    width: 28%;
    min-width: 360px;
    height: calc(100vh - 200px);
    min-height: 400px;
    right: 0;
    top: 0;
    background-color: var(--illustration-background);
    z-index: 1;
    position: relative;
  }
}

.container-illustration {
  width: 100%;
  margin: 0 auto;
  @media bp-site {
    > div {
      transform: translateX(-44%);
    }
  }
  @media bp-extrawide {
    max-width: 700px;
  }
}

.container-logo-wrap {
  background-color: var(--primary-theme-background);
  padding-top: 50px;
  padding-bottom: 10px;
  width: 100%;
  p {
    font-size: 1.2em;
    padding-bottom: 10px;
    margin: 0;
  }
  hr {
    margin-bottom: 10px;
  }
  @media bp-site {
    max-width: 400px;
    padding: 0;
    //Need to balance out with the CTA
    padding-top: 100px;
  }
  @media bp-extra-wide {
    max-width: 600px;
  }
}

.container-logo {
  padding-bottom: 20px;
}
