@value black1: #212121;
@value black2: #3c3c3c;
@value blue1: #9fb8ce;
@value blue2: #7b9dbf;
@value blue3: #0e4379;
@value blue4: #404850;
@value gray1: #dfdfdf;
@value gray2: #d7d9da;
@value gray3: #2e2e2f;
@value gray4: #808080;
@value pink1: #ba7f7f;
@value wheat1: #ece0c5;
@value wheat2: #decea9;
@value white1: #ffffff;
@value transparentGray: rgba(222, 222, 222, 0.8);

:root {
  /* General */
  --main-background: gray2;
  --illustration-background: wheat1;
  --text-color: black2;
  --link-color: gray4;
  --link-hover-color: blue2;

  /* hr */
  --hr-color: gray4;
  --hr-background-color: gray4;

  /* Scrollbar */
  --scrollbar-background: black1;
  --scrollbar-inactive-background: gray1;

  /* TextHero */
  --texthero-primary: wheat1;

  /* Selection */
  --selection-background: blue1;
  --selection-color: white1;

  /* Highlights */
  --highlight-1-color: wheat1;
  --highlight-2-color: #efefef;

  /* CTA */
  --cta-background-color: wheat1;
  --cta-link-color: black1;
  --cta-link-hover-color: blue2;

  /* Modal */
  --modal-overlay-background-color: transparentGray;
  --modal-background-color: white1;

  /* Form */
  --form-element-border-color: black2;

  /* Header */
  --header-background-color: black2;
  --header-border-bottom-color: gray3;
  --header-color: white1;
  --header-icon-color: white1;
  --header-icon-hover-color: blue1;
  --header-icon-sceondary-hover-color: transparent;
  --header-icon-secondary-color: transparent;
  --header-link-color: white1;
  --header-link-hover-color: blue2;
  --header-logo-color: white1;
  --header-logo-hover-color: blue2;
  --header-logo-hover-secondary-color: blue2;

  /*Footer*/
  --footer-color: gray2;
  --footer-background-color: black1;

  /* Primary */
  --primary-theme-background: gray2;
  --primary-theme-title-color: black2;
  --primary-theme-color: black2;
  --primary-theme-table-color: white1;
  --primary-theme-border-color: white1;
  --primary-theme-link-color: white1;
  --primary-theme-link-hover-color: white1;
  --primary-theme-button-color: white1;
  --primary-theme-button-background-color: black1;
  --primary-theme-button-hover-color: black1;
  --primary-theme-button-hover-background-color: white1;

  /* Wheat */
  --wheat-theme-background: wheat1;
  --wheat-theme-title-color: white1;
  --wheat-theme-color: black2;
  --wheat-theme-table-color: white1;
  --wheat-theme-border-color: white1;
  --wheat-theme-link-color: black2;
  --wheat-theme-link-hover-color: blue1;

  /* Dark */
  --dark-theme-background: gray3;
  --dark-theme-title-color: white1;
  --dark-theme-color: white1;
  --dark-theme-table-color: white1;
  --dark-theme-border-color: blue1;
  --dark-theme-link-color: blue1;
  --dark-theme-link-hover-color: gray4;

  /* Black */
  --black-theme-background: black1;
  --black-theme-title-color: white1;
  --black-theme-color: white1;
  --black-theme-table-color: white1;
  --black-theme-border-color: blue1;
  --black-theme-link-color: gray4;
  --black-theme-link-color: gray4;

  /* Blue */
  --blue-theme-background: blue1;
  --blue-theme-title-color: white1;
  --blue-theme-color: white1;
  --blue-theme-table-color: white1;
  --blue-theme-border-color: black1;
  --blue-theme-border-secondary-color: blue1;
  --blue-theme-link-color: blue3;
  --blue-theme-link-hover-color: white;
}
