@value black1: #212121;
@value black2: #3c3c3c;
@value blackTransparent: rgba(0, 0, 0, 0.1);
@value blue1: #9fb8ce;
@value blue2: #7b9dbf;
@value blue3: #0e4379;
@value gray1: #dfdfdf;
@value gray2: #d7d9da;
@value gray3: #2e2e2f;
@value gray4: #808080;
@value pink1: #ba7f7f;
@value wheat1: #ece0c5;
@value wheat2: wheat;
@value white1: #ffffff;

:root {
  /* General */
  --main-background: gray2;
  --text-color: black2;
  --footer-color: white1;
  --footer-background-color: black1;

  /* Scrollbar */
  --scrollbar-background: pink1;
  --scrollbar-inactive-background: gray1;

  /* Selection */
  --selection-background: blue1;
  --selection-color: white1;

  /* Highlights */
  --highlight-1-color: blue2;
  --highlight-2-color: white1;

  /* Header */
  --header-background-color: blackTransparent;
  --header-border-bottom-color: white1;
  --header-color: white1;
  --header-icon-color: white1;
  --header-icon-hover-color: blue1;
  --header-icon-sceondary-hover-color: transparent;
  --header-icon-secondary-color: transparent;
  --header-link-color: white1;
  --header-link-hover-color: blue2;
  --header-logo-color: white1;
  --header-logo-hover-color: blue1;
  --header-logo-hover-secondary-color: blue3;

  /* Primary */
  --primary-theme-background: wheat1;
  --primary-theme-title-color: white1;
  --primary-theme-color: black2;
  --primary-theme-table-color: white1;
  --primary-theme-border-color: white1;
  --primary-theme-link-color: gray4;
  --primary-theme-link-hover-color: gray4;

  /* Wheat */
  --wheat-theme-background: wheat2;
  --wheat-theme-title-color: white1;
  --wheat-theme-color: black2;
  --wheat-theme-table-color: white1;
  --wheat-theme-border-color: white1;
  --wheat-theme-link-color: black2;
  --wheat-theme-link-hover-color: blue1;

  /* Dark */
  --dark-theme-background: gray3;
  --dark-theme-title-color: white1;
  --dark-theme-color: white1;
  --dark-theme-table-color: white1;
  --dark-theme-border-color: blue1;
  --dark-theme-link-color: gray4;
  --dark-theme-link-color: gray4;

  /* Black */
  --black-theme-background: black1;
  --black-theme-title-color: white1;
  --black-theme-color: white1;
  --black-theme-table-color: white1;
  --black-theme-border-color: blue1;
  --black-theme-link-color: gray4;
  --black-theme-link-color: gray4;

  /* Blue */
  --blue-theme-background: blue1;
  --blue-theme-title-color: white1;
  --blue-theme-color: white1;
  --blue-theme-table-color: white1;
  --blue-theme-border-color: black1;
  --blue-theme-border-secondary-color: blue1;
  --blue-theme-link-color: blue3;
  --blue-theme-link-hover-color: white;
}
