.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexCenterLeft {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.fullScreen {
  width: 100vw;
  height: 100vh;
}
