@value site as bp-site from './breakpoints.scss';

@value desktop-large: 160px;
@value desktop-medium: 100px;
@value desktop-small: 2rem;

@value mobile-large: 50px;
@value mobile-medium: 40px;
@value mobile-small: 20px;

@value gutter: 2rem;

.gutterPadding {
  padding-left: gutter;
  padding-right: gutter;
}

.none {
  padding-top: 0;
  padding-bottom: 0;
}

.large {
  padding-top: mobile-large;
  padding-bottom: mobile-large;
  @media bp-site {
    padding-top: desktop-large;
    padding-bottom: desktop-large;
  }
}

.medium {
  padding-top: mobile-medium;
  padding-bottom: mobile-medium;
  @media bp-site {
    padding-top: desktop-medium;
    padding-bottom: desktop-medium;
  }
}

.small {
  padding-top: mobile-small;
  padding-bottom: mobile-small;
  @media bp-site {
    padding-top: desktop-small;
    padding-bottom: desktop-small;
  }
}
