@value desktop-large: 160px;
@value desktop-medium: 100px;
@value desktop-small: 20px;

@value mobile-large: 100px;
@value mobile-medium: 60px;
@value mobile-small: 20px;

@value gutter: 2rem;

@value site as bp-site from '../styles/breakpoints.css';

.gutterPadding {
  padding-left: gutter;
  padding-right: gutter;
}

.large {
  padding-top: mobile-large;
  padding-bottom: mobile-large;
}

.medium {
  padding-top: mobile-medium;
  padding-bottom: mobile-medium;
}

.mediumSmall {
  padding-top: mobile-medium;
  padding-bottom: mobile-small;
}

.smallMedium {
  padding-top: mobile-small;
  padding-bottom: mobile-medium;
}

.small {
  padding-top: mobile-small;
  padding-bottom: mobile-small;
}

@media bp-site {
  .large {
    padding-top: desktop-large;
    padding-bottom: desktop-large;
  }

  .mediumSmall {
    padding-top: desktop-medium;
    padding-bottom: desktop-small;
  }

  .smallMedium {
    padding-top: desktop-small;
    padding-bottom: desktop-medium;
  }

  .medium {
    padding-top: desktop-medium;
    padding-bottom: desktop-medium;
  }

  .small {
    padding-top: desktop-small;
    padding-bottom: desktop-small;
  }
}
