@value site as bp-site from '../../styles/breakpoints.scss';

@value padding: '../../styles/padding.module.scss';
@value gutter from padding;

.title {
  font-family: "Oswald";
  font-size: 1.8em;
  line-height: 1.8em;
  a {
    color: var(--header-logo-color);
    transition: gtransition;
    &:hover {
      color: var(--header-logo-hover-secondary-color);
    }
  }
}

.with-icon {
  width: 100%;
  display: inline-flex;
  align-self: center;
  svg {
    margin-right: 18px;
  }
}

//Size

.size-huge {
  font-size: 5em;
  line-height: 0.2;
  @media bp-site {
    font-size: 7em;
    line-height: 0;
  }
}

.size-large {
  font-size: 3em;
}

.size-medium {
  font-size: 1.8em;
  line-height: 1.8;
  @media bp-site {
    font-size: 2.2em;
    line-height: 2.2;
  }
}

.size-normal {
  font-size: 1.6em;
  line-height: 2.2;
  @media bp-site {
    font-size: 1.8em;
    line-height: 2;
  }
}

.size-small {
  font-size: 0.9em;
}

//Padding

.bottom-padding-small {
  padding-bottom: 10px;
}

.bottom-padding-normal {
  padding-bottom: 20px;
}

.bottom-padding-medium {
  padding-bottom: 30px;
}

.bottom-padding-large {
  padding-bottom: 40px;
}
