@value padding: '../../styles/padding.css';
@value gutter from padding;

.title {
  font-family: "Cabin Condensed";
  padding: 0 0 gutter;
  margin-bottom: 0.25rem;
  letter-spacing: 1px;
  text-align: center;
}
