.large {
  composes: large from "../../styles/padding.module.scss";
}

.medium {
  composes: medium from "../../styles/padding.module.scss";
}

.small {
  composes: small from "../../styles/padding.module.scss";
}
