@value site as bp-site from '../../styles/breakpoints.scss';

.cta {
  background: var(--cta-background-color);
  padding: 15px 26px;
  margin-top: 25px;
  @media bp-site {
    margin-bottom: 25px;
  }
}

.cta a {
  color: var(--cta-link-color);
  text-decoration: underline;
  &:hover {
    color: var(--cta-link-hover-color);
  }
}
