@value colors: '../../styles/colors.css';
@value black2 from colors;
@value desktop as bp-desktop from '../../styles/breakpoints.css';

.container  {
  width: 100%;
  margin: 0 auto;
  background-color: black2;
}

.container p:last-of-type {
  margin-bottom: 0;
}

@media bp-desktop {
  .container p
  {
    font-size: 1.3em;
  }
}
