@value colors: '../../../styles/colors.css';
@value gray2, black3 from colors;
@value padding: '../../../styles/padding.css';
@value gutter from padding;

.title
{
  color: #d7d9da;
  /* border-bottom: 1px solid #555555; */
  padding: 0 1.5rem 1.5rem;
  margin-bottom: 0.25rem;
  /* padding-left: 52px; */
}
