@value gtransition from '../../styles/animation.scss';

:root {
  --header-height: 60px;
}

.container {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--header-background-color);
  z-index: 100;
}

.content {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  color: var(--header-color);
  border-bottom: 1px solid var(--header-border-bottom-color);
  padding: 20px 0;
}
