@value gtransition from '../../styles/animation.css';

:root {
  --header-height: 90px;
}

.container {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--heading-background-color);
  composes: gutterPadding from "../../styles/padding.css";
  z-index: 100;
}

.content {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  color: var(--header-color);
  border-bottom: 1px solid var(--header-border-bottom-color);
  padding: 20px 0;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;
  list-style: none;
  margin-left: 0;
}

.logo {
  font-family: "Oswald";
  font-size: 1.8em;
  color: var(--header-logo-color);
  transition: gtransition;
  &:hover {
    color: var(--header-logo-hover-secondary-color);
  }
}

.nav-item {
  margin-left: 20px;
  line-height: 1;
  font-size: 1.2em;
  & svg {
    width: 30px;
    fill: var(--header-icon-color);
    color: var(--header-icon-secondary-color);
    transition: gtransition;
  }
}

.nav-link {
  color: var(--header-link-color);
  transition: gtransition;
  &:hover {
    color: var(--header-link-hover-color);
    svg {
      fill: var(--header-icon-hover-color);
    }
  }
}
