@value colors: '../../styles/colors.css';
@value gray1, gray2, black2, gray3, tertiary from colors;
@value desktop as bp-desktop from '../../styles/breakpoints.css';

.text, .heading  {
  width: 100%;
  margin: 0 auto;
}

.text p:last-of-type, 
.heading p:last-of-type {
  margin-bottom: 0;
}

.text table td:first-child
{
  color: gray3;
}

.heading {
  background-color: black2;
}

.title
{
  color: gray2;
  border-bottom: 1px solid gray3;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.heading-inner {
  composes: medium from '../../styles/padding.css';
}

.pre-body-inner {
  composes: mediumSmall from '../../styles/padding.css';
}

.body-inner {
  composes: small from '../../styles/padding.css';
}

.post-body-inner {
  composes: smallMedium from '../../styles/padding.css';
}

@media bp-desktop {
  .heading p
  {
    font-size: 1.3em;
  }

  .text p,
  .text table {
    font-size: 1.1em;
  }

  .text table td:first-child {
    min-width: 120px;
  }
}
