.container {
  position: relative;
  width: 100%;
  background-color: var(--footer-background-color);
  text-align: right;
  composes: gutterPadding from "../../styles/padding.module.scss";
  p {
    color: var(--footer-color);
    margin: 0;
    line-height: 1;
  }
}
