@value colors: '../../../styles/colors.css';
@value primaryDark, secondary, tertiary from colors;
@value desktop as bp-desktop from '../../../styles/breakpoints.css';

.container {
  width:90%;
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.text {
  padding-top: 20px;
}

.text p {
  color: primaryDark;
}

.heading {
  fill: primaryDark;
}

.dot1 {
  fill: #5abb6e;
}

.dot2 {
  fill: white;
}

@media bp-desktop {
  .container {
    max-width: 400px;
  }
  .text p {
    font-size: 1.25em;
  }
}
