@value colors: '../../../styles/colors.css';
@value tertiary, gray3 from colors;
@value transition as gtransition from '../../../styles/animation.css';

@value padding: '../../../styles/padding.css';
@value gutter from padding;

.container  {
  width: 100%;
  margin: 0 auto;
}

.container p a,
.container table a
{
  color: gray3;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: gtransition;
}

.container a:hover {
  color: tertiary;
  border-color: tertiary;
}

.horizontal-padding {
  composes: gutterPadding from '../../../styles/padding.css';
}
