@value colors: '../styles/colors.css';
@value gray2 from colors;
@value site as bp-site from '../styles/breakpoints.css';
@value extrawide as bp-extrawide from '../styles/breakpoints.css';

/* Vertical Rhythm */
@value topDesktopPadding

.container {
  composes: fullScreen from "../styles/flex.css";
}

.hero {
  width: 100%;
  composes: medium from "../styles/padding.css";
}

.scrollBlock {
  position: relative;
  width: 100%;
  left: 0;
  background-color: gray2;
  -webkit-overflow-scrolling: touch;
}

.imageBlock {
  position: relative;
  right: 0;
  top: 0;
}

@media bp-site {
  .scrollBlock {
    width: 100%;
    composes: flexCenterLeft from "../styles/flex.css";
    height: 100vh;
  }
  .hero {
    max-width: 500px;
  }
}

@media bp-extrawide {
  .hero {
    max-width: 600px;
  }
}
